﻿@model SmartHomeMain.DataLayer.House

@{
    ViewBag.Title = "Details";
    string houseIpPort = "127.0.0.1:80";
    if (ViewBag.HouseIpPort != null)
    {
        houseIpPort = ViewBag.HouseIpPort;
    }

}

<!-- FROM HERE -->
@section Scripts {
    @*@Scripts.Render("http://" + houseIpPort + "/SmartHomeInternal/Scripts/jquery.signalR-2.3.0.js")
    @Scripts.Render("http://" + houseIpPort + "/SmartHomeInternal/signalr/hubs")
    <script>
        $(document).ready(function () {
            var universalHub = $.connection.universalHub;

            if (universalHub != null) {
                universalHub.client.testCall = function (param1) {
                    // do something on client when called
                    alert(param1);
                };

                $.connection.hub.start().done(function () {
                    // something to do after connected successfully

                    universalHub.server.test();
                });
            }
            else {
                alert("SignalR hub not connected to " + "@houseIpPort" + "/SmartHomeInternal");
            }
        
        });
    </script>
    }*@
<!-- TO HERE -->

<h2>Details</h2>

<div>
    <h4>House</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
