﻿@model IEnumerable<SmartHomeMain.DataLayer.House>
<script src="~/Scripts/bootbox.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="cont">
    <table class="table" id="hTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DbName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Devices", "Index", "Devices", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    <input type="button" value="Devices" class="deviceBtn btn btn-info" data-param="@item.Ip" />
                </td>
            </tr>
        }

    </table>
</div>

<script>
    var ipAddress;

    var devBtns = document.getElementsByClassName("deviceBtn");
    for (i = 0; i < devBtns.length; i++) {
        devBtns[i].addEventListener('click', GetDevices, true);
    }
    function GetDevices(e) {
        var ip = e.target.dataset.param;
        ipAddress = ip;
        $.ajax(
            {
                type: "GET", //GET or POST or PUT or DELETE verb
                method: "GET",
                url: "http://" + ip + "/SmartHomeInternal/Service1.svc/Devices", // Location of the service
                contentType: "application/json; charset=utf-8", // content type sent to server
                dataType: "json", //Expected data format from server
                //processdata: true, //True or False
                success: function (msg) //On Successfull service call
                {
                    ShowSubscribeResult(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                {
                    alert(jqXHR);
                }
            }
        );
    }

    function ShowSubscribeResult(msg) {
        var table = document.getElementById("hTable");
        table.remove();

        var tDevices = document.createElement("table");
        tDevices.className = "table";

        var trHead = document.createElement("tr");
        var th1 = document.createElement("th");
        th1.innerText = "Name";
        trHead.appendChild(th1);
        var th2 = document.createElement("th");
        th2.innerText = "Type";
        trHead.appendChild(th2);
        var th3 = document.createElement("th");
        th3.innerText = "Registration date";
        trHead.appendChild(th3);
        tDevices.appendChild(trHead);

        let i = 0;
        for (i = 0; i < msg.length; i++) {
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");
            td1.innerText = msg[i].Name;
            tr.appendChild(td1);
            var td2 = document.createElement("td");
            td2.innerText = msg[i].Type;
            tr.appendChild(td2);
            var td3 = document.createElement("td");
            td3.innerText = msg[i].DateOfRegStr;
            tr.appendChild(td3);

            var td4 = document.createElement("td");
            var bt = document.createElement("input");
            bt.type = "button";
            bt.value = "Show actions";
            bt.className = "btn btn-info";
            bt.dataset.actionList = JSON.stringify(msg[i].ActionList);
            bt.addEventListener('click', GetActions, true);
            td4.appendChild(bt);
            tr.appendChild(td4);

            var td5 = document.createElement("td");
            var bt1 = document.createElement("input");
            bt1.type = "button";
            bt1.value = "Show jobs";
            bt1.className = "btn btn-info";
            bt1.dataset.id = JSON.stringify(msg[i].Id);
            bt1.addEventListener('click', GetJobs, true);
            td5.appendChild(bt1);
            tr.appendChild(td5);
            tDevices.appendChild(tr);
        }

        var cont = document.getElementById("cont");
        cont.appendChild(tDevices);
    }

    function GetActions(e) {
        var actionList = JSON.parse(e.target.dataset.actionList);
        var result = "";
        let j = 0;
        for (j = 0; j < actionList.length; j++) {
            result += "Name: " + actionList[j].Name + " Repeatable: ";
            if (actionList[j].IsRepeatable)
                result += "Yes <br />";
            else
                result += "No <br />";
        }
        bootbox.confirm(result, function (result) { });
    }

    function GetJobs(e) {
        var id = e.target.dataset.id;
        $.ajax(
            {
                type: "GET", //GET or POST or PUT or DELETE verb
                method: "GET",
                url: "http://" + ipAddress + "/SmartHomeInternal/Service1.svc/DeviceInfo?id=" + id, // Location of the service
                contentType: "application/json; charset=utf-8", // content type sent to server
                dataType: "json", //Expected data format from server
                //processdata: true, //True or False
                success: function (msg) //On Successfull service call
                {
                    var jmsg = JSON.stringify(msg);
                    ShowJobs(jmsg);
                },
                error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                {
                    alert(jqXHR);
                }
            }
        );
    }

    function ShowJobs(msg) {
        var test = JSON.parse(msg);
        var result = "";
        let i = 0;
        for (i = 0; i < test["ActionList"].length; i++) {
            result += "<h3>" + test.ActionList[i].Name + "</h3><br />"
            result += "<table class='table'>"
            result += "<thead class='thead-dark'>";
            result += "<tr> <th>Action</th> <th>Started</th> <th>Minutes repeat</th>  <th>Seconds repeat</th> </tr>";
            result += "</thead>";

            let j = 0;
            result += "<tbody>";
            for (j = 0; j < test.ActionList[i].JobList.length; j++) {
                result += "<tr>"

                result += "<td>" + test.ActionList[i].JobList[j].methodName + "</td>"; //Action

                result += "<td>";//Started
                if (test.ActionList[i].JobList[j].IsStarted)
                    result += "Yes ";
                else
                    result += "No ";
                result += "</td>";

                result += "<td>";//Minutes
                if (test.ActionList[i].JobList[j].repeatTimeMinutes != null)
                    result += test.ActionList[i].JobList[j].repeatTimeMinutes + " min ";
                else
                    result += "0 min ";
                result += "</td>";

                result += "<td>";//Seconds
                if (test.ActionList[i].JobList[j].repeatTimeSeconds != null)
                    result += test.ActionList[i].JobList[j].repeatTimeSeconds + "s ";
                else
                    result += "0 s ";
                result += "</td>";

                result += "<td>";
                debugger;
                if (test.ActionList[i].JobList[j].ReturnLogCount > 0) {
                    result += "<button class='btn btn-info' onclick='ReturnLog(" + test.ActionList[i].JobList[j].JobId + ")'><i class='fa fa-download'></i>" + "Download report </button>";
                }
                result += "</td>";

                result += " </tr>";
            }

            result += "</tbody>";
            result += "</table><br /></ br>"
        }

        bootbox.confirm(result, function (ds) { });
    }

    function ReturnLog(id) {
        $.ajax(
            {
                type: "GET", //GET or POST or PUT or DELETE verb
                method: "GET",
                url: "http://" + ipAddress + "/SmartHomeInternal/Service1.svc/JobInfo?id=" + id, // Location of the service
                contentType: "application/json; charset=utf-8", // content type sent to server
                dataType: "json", //Expected data format from server
                //processdata: true, //True or False
                success: function (msg) //On Successfull service call
                {
                    var jmsg = JSON.stringify(msg);
                    ShowLogs(jmsg);
                },
                error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                {
                    alert(jqXHR);
                }
            }
        );
    }

    function ShowLogs(msg) {
        var test = JSON.parse(msg);
        if (test.ReturnLogList.length != 0) {
            var filepath = "Report";
            var columns = ["Value", "Time"];
            var data = new Array();
            let i;
            for (i = 0; i < test.ReturnLogList.length; i++) {
                var p = new Array();
                p.push(test.ReturnLogList[i].ReturnValue.toString());
                p.push(test.ReturnLogList[i].Time.toString());
                data.push(p);
            }
            var obj = {
                fileName: filepath,
                columns: columns,
                data: data
            };
            console.log(obj.data[0][0]);
            var str = JSON.stringify(obj);

            $.ajax(
                {
                    type: "POST", //GET or POST or PUT or DELETE verb
                    method: "POST",
                    //url: "http://localhost/ExcelTraining/api/Excel", // Location of the service
                    url: "http://172.22.183.95/api/Excel", // Location of the service
                    contentType: "application/json; charset=utf-8", // content type sent to server
                    //processdata: true, //True or False
                    data: str,
                    success: function () //On Successfull service call
                    {
                        GetData();
                    },
                    error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                    {
                        alert(jqXHR);
                    }
                }
            );
        }
    }

    function GetData() {
        $.ajax({
            url: 'http://172.22.183.95/api/Excel',
            method: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            success: function (data) {
                var a = document.createElement('a');
                var url = window.URL.createObjectURL(data);
                a.href = url;
                a.download = 'Report.xlsx';
                a.click();
                window.URL.revokeObjectURL(url);
            }
        });
    }


</script>


