﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Houses", "Index", "Houses")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @{ 
        var houseIpPort = "localhost";
    }

    @RenderSection("scripts", required: false)

    @Scripts.Render("http://" + houseIpPort + "/SmartHomeInternal/Scripts/jquery.signalR-2.3.0.js")
    @Scripts.Render("http://" + houseIpPort + "/SmartHomeInternal/signalr/hubs")
    <script>
        $(document).ready(function () {
            var universalHub = $.connection.universalHub;

            if (universalHub != null) {
                universalHub.client.testCall = function (param1) {
                    // do something on client when called
                    alert(param1);
                };

                $.connection.hub.start().done(function () {
                    // something to do after connected successfully

                    universalHub.server.test();
                });
            }
            else {
                alert("SignalR hub not connected to " + "@houseIpPort" + "/SmartHomeInternal");
            }

        });
    </script>
    }
</body>
</html>
