﻿<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 30px 30px 300px 30px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="col-md-12">
            @*<input type="button" value="TurnOn" onclick="function1()" />
                <input type="button" value="SensorMeasure" onclick="function2()" />
                <input type="button" value="TurnOff" onclick="function3()" />*@
            <input type="hidden" value="" id="deviceType" />
            <input type="hidden" value="" id="deviceName" />

            <select id="methodsSelect"></select>
            <div class="input-group">
                <label for="useDateTime">Use DateTime: </label>
                <input type="checkbox" id="useDateTime" name="useDateTime" value="" onchange="cbxChange(this)" checked />
            </div>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="row">
                <label for="minutesRepeat">Minutes repeat:</label>
                <input type="number" id="minutesRepeat" name="minutesRepeat"
                       placeholder="" step="1" min="0" />
            </div>
            <div class="row">
                <label for="secondsRepeat">Seconds repeat:</label>
                <input type="number" id="secondsRepeat" name="secondsRepeat"
                       placeholder="" step="1" min="0" />
            </div>
            <div>
                <input type="button" value="Create action" onclick="createAction()" />
            </div>
        </div>
    </div>
</div>

<div>
    <table id="tblDevices">
        <thead>
            <tr>
                <th>Device name</th>
                <th>Device type</th>
                <th>Device actions</th>
            </tr>
        </thead>
        <tbody id="tblBodyDevices"></tbody>
    </table>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span > element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    //btn.onclick = function () {
    //    modal.style.display = "block";
    //}

    // When the user clicks on <span > (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }

    }
</script>

<script>

    var devicesGlobal = null;

    var successGetDevices = function (data) {
        if (data == null || data.length == 0)
            return;

        devicesGlobal = data;

        for (var i = 0; i < data.length; i++) {
            var newRowContent = "<tr>"
                + "<td>" + data[i].Name + "</td>"
                + "<td>" + data[i].Type + "</td>"
                + "<td>" + "<button onclick='openJobAdderModal(" + i + ")'>Actions</button>" + "</td>"
                + "</tr>";

            $("#tblDevices tbody").append(newRowContent);
        }
    }

    function openJobAdderModal(index) {
        modal.style.display = "block";

        var $select = $('#methodsSelect');
        $select.find('option').remove();
        for (var i = 0; i < devicesGlobal[index].ActionList.length; i++) {
            $select.append('<option value=' + devicesGlobal[index].ActionList[i].Name + '>' + devicesGlobal[index].ActionList[i].Name + '</option>');
        }

        $("#deviceType").val(devicesGlobal[index].Type);
        $("#deviceName").val(devicesGlobal[index].Name);
    }

    var errorHandle = function (jqXHR, textStatus, error) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(error);
    }

    function loadTableData() {
        $.ajax({
            contentType: "application/json; charset=UTF-8",
            type: "GET", //same as method:'POST' ; type is for older versions
            method: "GET",
            url: "http://" + "@ViewData.Eval("TargetHost")" + "/SmartHomeInternal/Service1.svc/Devices",
            //data: par,
            dataType: "json",
            success: successGetDevices,
            error: errorHandle
        });
    }

    $(loadTableData());
</script>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });

    function cbxChange() {
        if (!$('#useDateTime').is(':checked')) {
            $('#datetimepicker1').datetimepicker().data('DateTimePicker').disable();
        }
        else {
            $('#datetimepicker1').datetimepicker().data('DateTimePicker').enable();
        }
    }

    function getDateTimePickerValue() {
        var result = $('#useDateTime').is(':checked') ? ('\/Date(' + Date.parse($('#datetimepicker1').data('DateTimePicker').date()) + ')\/') : null;
        return result != null && result.localeCompare("/Date(NaN)/") != 0 ? result : null;
    }

    function getMinutesRepeatValue() {
        var result = $('#minutesRepeat').val();
        if (result == null || result == 0 || result == '0')
            return null;
        else
            return result;
    }

    function getSecondsRepeatValue() {
        var result = $('#secondsRepeat').val();
        if (result == null || result == 0 || result == '0')
            return null;
        else
            return result;
    }

</script>

<script src="~/Scripts/deviceAPI.js"></script>
<script>
    var succFunc = function () {
        alert("Successfully created action/job!");
    }

    function createAction() {
        callDeviceMethod($("#deviceType").val(), $("#deviceName").val(), $('#methodsSelect').val(), succFunc);
    }

    var job = new Action();
    function callDeviceMethod(type, name, method, actionSuccess) {
        job.SetDeviceTypeAndName(type + ":" + name);
        job.SetMethodName(method);
        job.SetParams({
            JobId: -1,
            Time: getDateTimePickerValue(),
            RepeatTimeMinutes: getMinutesRepeatValue(),
            RepeatTimeSeconds: getSecondsRepeatValue()
        });
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, actionSuccess, ActionError, '@ViewData.Eval("TargetHost")');
    }

    @*function function1() {
        job.SetDeviceTypeAndName("Pecka:Alfa");
        job.SetMethodName("TurnOn");
        job.SetParams({
            JobId: -1,
            Time: getDateTimePickerValue(),
            RepeatTimeMinutes: getMinutesRepeatValue(),
            RepeatTimeSeconds: getSecondsRepeatValue()
        });
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError, '@ViewData.Eval("TargetHost")');
    }
    function function2() {
        job.SetDeviceTypeAndName("Pecka:Alfa");
        job.SetMethodName("SensorMeasure");
        job.SetParams({
            JobId: -1,
            Time: getDateTimePickerValue(),
            RepeatTimeMinutes: getMinutesRepeatValue(),
            RepeatTimeSeconds: getSecondsRepeatValue()
        });
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function function3() {
        job.SetDeviceTypeAndName("Pecka:Alfa");
        job.SetMethodName("TurnOff");
        job.SetParams({
            JobId: -1,
            Time: getDateTimePickerValue(),
            RepeatTimeMinutes: getMinutesRepeatValue(),
            RepeatTimeSeconds: getSecondsRepeatValue()
        });
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function SendMessage2() {
        job.SetDeviceTypeAndName("Masina:Beko");
        job.SetMethodName("TurnOn");
        job.SetParams({});
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function SendMessage21() {
        job.SetDeviceTypeAndName("Masina:Beko");
        job.SetMethodName("SensorMeasure");
        job.SetParams({});
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function SendMessage22() {
        job.SetDeviceTypeAndName("Masina:Beko");
        job.SetMethodName("TurnOff");
        job.SetParams({});
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }*@

    $(function Login() {
        $.ajax({
            url: 'http://' + '@ViewData.Eval("TargetHost")' + '/SmartHomeInternal/Service1.svc/Login',
            //url: 'http://10.14.90.111:12000/TestNetTcp/Service1.svc/Login',
        });
    });

</script>
@{ 
    string targetHost1 = (string)ViewData.Eval("TargetHost");
}
@Scripts.Render("http://" + targetHost1 + "/SmartHomeInternal/Scripts/jquery.signalR-2.3.0.js")
@Scripts.Render("http://" + targetHost1 + "/SmartHomeInternal/signalr/hubs")
<script>
        $(document).ready(function () {
            var universalHub = $.connection.universalHub;

            if (universalHub != null) {
                universalHub.client.testCall = function (param1) {
                    // do something on client when called
                    //console.log(param1);
                };

                universalHub.client.jobStarted = function () {
                    alert("Server: A job just started!");
                }

                universalHub.client.returnLog = function (rl) {
                    console.log(rl);
                }

                $.connection.hub.start().done(function () {
                    // something to do after connected successfully

                    universalHub.server.test();
                });
            }
            else {
                alert("SignalR hub not connected to " + "@ViewData.Eval("TargetHost")" + "/SmartHomeInternal");
            }

        });
</script>