﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-4"></div>
<div class="col-md-4">
    @Html.Partial("~/Views/ActionJobs/Index.cshtml", null, new ViewDataDictionary { { "TargetHost", "localhost" } })
</div>

