﻿@{
    ViewBag.Title = "Home Page";
}


<div id="weatPart">
    <h1>Weathercast</h1>
    @{
        if (@ViewBag.Subscribed == true)
        {
            <script>
                function LoadWeatherInformation1(mail) {
                    $.ajax(
                        {
                            type: "GET", //GET or POST or PUT or DELETE verb
                            url: "http://localhost/SmartHomeWeather/api/Weather/GetDataOnCurrentPlace?mail=" + mail,
                            contentType: "application/json", // content type sent to server
                            dataType: "json", //Expected data format from server
                            //processdata: true, //True or False
                            success: function (msg) //On Successfull service call
                            {
                                ShowWeatherInformation1(msg);
                            },
                            error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                            {
                                alert(jqXHR);
                            }
                        }
                    );
                }

                function ShowWeatherInformation1(msg) {
                    var cont = document.getElementById("weatContainer");
                    cont.style.backgroundColor = "#d8cee5";

                    var div1 = document.createElement("div");
                    div1.className = "col-md-6";
                    var h41 = document.createElement("h3");
                    h41.innerHTML = "Temp. " + msg["main"]["temp"] + "&#8451";
                    h41.style.fontStyle = "italic";
                    h41.style.cssFloat = "right";
                    h41.style.paddingLeft = "30%";
                    h41.style.paddingTop = "10%";
                    div1.appendChild(h41);
                    cont.appendChild(div1);
                    var im = document.createElement("img");
                    im.style.width = "30%";
                    im.style.height = "auto";
                    im.src = "Content/001-temperature-1.png";
                    im.className = "col-md-3";
                    div1.appendChild(im);
                    div1.appendChild(document.createElement("br"));

                    var div2 = document.createElement("div");
                    div2.className = "col-md-6";
                    var h42 = document.createElement("h3");
                    h42.innerHTML = "Air press. " + msg["main"]["pressure"] + "mBar";
                    h42.style.fontStyle = "italic";
                    h42.style.cssFloat = "right";
                    h42.style.paddingLeft = "30%";
                    h42.style.paddingTop = "10%";
                    div2.appendChild(h42);
                    cont.appendChild(div2);
                    var im = document.createElement("img");
                    im.style.width = "30%";
                    im.style.height = "auto";
                    im.src = "Content/004-pressure-1.png";
                    im.className = "col-md-3";
                    div2.appendChild(im);
                    div2.appendChild(document.createElement("br"));

                    var div3 = document.createElement("div");
                    div3.className = "col-md-6";
                    var h43 = document.createElement("h3");
                    h43.innerHTML = "Humiudty " + msg["main"]["humidity"] + "%";
                    h43.style.fontStyle = "italic";
                    h43.style.cssFloat = "right";
                    h43.style.paddingLeft = "30%";
                    h43.style.paddingTop = "10%";
                    div3.appendChild(h43);
                    cont.appendChild(div3);
                    var im = document.createElement("img");
                    im.style.width = "30%";
                    im.style.height = "auto";
                    im.src = "Content/005-humidity.png";
                    im.className = "col-md-3";
                    div3.appendChild(im);
                    div3.appendChild(document.createElement("br"));

                    var div4 = document.createElement("div");
                    div4.className = "col-md-6";
                    var h44 = document.createElement("h3");
                    h44.innerHTML = "Wind " + msg["wind"]["speed"] + "m/s";
                    h44.style.fontStyle = "italic";
                    h44.style.cssFloat = "right";
                    h44.style.paddingLeft = "30%";
                    h44.style.paddingTop = "10%";
                    div4.appendChild(h44);
                    cont.appendChild(div4);
                    var im = document.createElement("img");
                    im.style.width = "30%";
                    im.style.height = "auto";
                    im.src = "Content/003-wind-sign.png";
                    im.className = "col-md-3";
                    div4.appendChild(im);
                    div4.appendChild(document.createElement("br"));

                    var div5 = document.createElement("div");
                    div5.style.textAlign = "center";
                    div5.style.color = "white";
                    var h45 = document.createElement("h3");
                    h45.innerHTML = "Currently is "+(msg["weather"][0]["description"]).toUpperCase();
                    h45.style.fontStyle = "italic";
                    div5.appendChild(h45);
                    cont.appendChild(div5);
                }

                LoadWeatherInformation1("@User.Identity.Name");
            </script>
        }
        else if (@ViewBag.Subscribed == false && User.Identity.Name != "")
        {
            <input type="button" value="Subscribe for weathercast" id="btnWeather" />
        }
    }
    <div class="row" id="weatContainer"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<script>
    $(document).ready(
        $('#btnWeather').click(function () {
            WeathercastSubscribe("@User.Identity.Name", @ViewBag.Lat, @ViewBag.Lon)
        }
        )
    );

    function WeathercastSubscribe(mail, lat, lon) {
        $.ajax(
            {
                type: "POST", //GET or POST or PUT or DELETE verb
                url: "http://localhost/SmartHomeWeather/api/Weather/SubscribeUser", // Location of the service
                contentType: "application/json", // content type sent to server
                data: JSON.stringify({ Active: true, CurrentTown: "Nis", Mail: mail, RepeatTime: 5, Latitude: lat, Longitude: lon }),
                dataType: "json", //Expected data format from server
                //processdata: true, //True or False
                success: function (msg) //On Successfull service call
                {
                    ShowSubscribeResult(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                {
                    alert(jqXHR);
                }
            }
        );
    }

    function ShowSubscribeResult(msg) {
        if (msg == "Success") {
            var btnWet = document.getElementById("btnWeather");
            btnWet.remove();
            var cont = document.getElementById("weatContainer");
            cont.innerText = "Weather information loading...";
            LoadWeatherInformation("@User.Identity.Name");
        }
    }

    function LoadWeatherInformation(mail) {
        $.ajax(
            {
                type: "GET", //GET or POST or PUT or DELETE verb
                url: "http://localhost/SmartHomeWeather/api/Weather/GetDataOnCurrentPlace?mail="+mail,
                contentType: "application/json", // content type sent to server
                dataType: "json", //Expected data format from server
                //processdata: true, //True or False
                success: function (msg) //On Successfull service call
                {
                    ShowWeatherInformation(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                {
                    alert(jqXHR);
                }
            }
        );
    }

    function ShowWeatherInformation(msg) {
        var cont = document.getElementById("weatContainer");
        var Des = "Current temperature " + msg["main"]["temp"] + "C\n";
        Des = Des+"Pressure " + msg["main"]["pressure"] + "mBar\n";
        Des = Des+"Humiudty " + msg["main"]["humidity"]  + "%\n";
        Des = Des + "Wind " + msg["wind"]["speed"] + "m/s\n";
        cont.innerText = Des +" "+msg["weather"][0]["description"];
    }

</script>


<script>
    $(document).ready(
        $('#btnWeather').click(function () {
            WeathercastSubscribe("@User.Identity.Name", @ViewBag.Lat, @ViewBag.Lon)
        }
        )
    );

    function WeathercastSubscribe(mail, lat, lon) {
        $.ajax(
            {
                type: "POST", //GET or POST or PUT or DELETE verb
                url: "http://localhost/SmartHomeWeather/api/Weather/SubscribeUser", // Location of the service
                contentType: "application/json", // content type sent to server
                data: JSON.stringify({ Active: true, CurrentTown: "Nis", Mail: mail, RepeatTime: 5, Latitude: lat, Longitude: lon }),
                dataType: "json", //Expected data format from server
                //processdata: true, //True or False
                success: function (msg) //On Successfull service call
                {
                    ShowSubscribeResult(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                {
                    alert(jqXHR);
                }
            }
        );
    }

    function ShowSubscribeResult(msg) {
        if (msg == "Success") {
            var btnWet = document.getElementById("btnWeather");
            btnWet.remove();
            var cont = document.getElementById("weatContainer");
            cont.innerText = "Weather information loading...";
            LoadWeatherInformation("@User.Identity.Name");
        }
    }

    function LoadWeatherInformation(mail) {
        $.ajax(
            {
                type: "GET", //GET or POST or PUT or DELETE verb
                url: "http://localhost/SmartHomeWeather/api/Weather/GetDataOnCurrentPlace?mail="+mail,
                contentType: "application/json", // content type sent to server
                dataType: "json", //Expected data format from server
                //processdata: true, //True or False
                success: function (msg) //On Successfull service call
                {
                    ShowWeatherInformation(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) // When Service call fails
                {
                    alert(jqXHR);
                }
            }
        );
    }

    function ShowWeatherInformation(msg) {
        var cont = document.getElementById("weatContainer");
        var Des = "Current temperature " + msg["main"]["temp"] + "C\n";
        Des = Des+"Pressure " + msg["main"]["pressure"] + "mBar\n";
        Des = Des+"Humiudty " + msg["main"]["humidity"]  + "%\n";
        Des = Des + "Wind " + msg["wind"]["speed"] + "m/s\n";
        cont.innerText = Des +" "+msg["weather"][0]["description"];
    }

</script>

@*<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });

    function cbxChange() {
        if (!$('#useDateTime').is(':checked')) {
            $('#datetimepicker1').datetimepicker().data('DateTimePicker').disable();
        }
        else {
            $('#datetimepicker1').datetimepicker().data('DateTimePicker').enable();
        }
    }

    function getDateTimePickerValue() {
        var result = $('#useDateTime').is(':checked') ? ('\/Date(' + Date.parse($('#datetimepicker1').data('DateTimePicker').date()) + ')\/') : null;
        return result != null && result.localeCompare("/Date(NaN)/") != 0 ? result : null;
    }

    function getMinutesRepeatValue() {
        var result = $('#minutesRepeat').val();
        if (result == null || result == 0 || result == '0')
            return null;
        else
            return result;
    }

    function getSecondsRepeatValue() {
        var result = $('#secondsRepeat').val();
        if (result == null || result == 0 || result == '0')
            return null;
        else
            return result;
    }

</script>

<script src="~/Scripts/deviceAPI.js"></script>
<script>
    var job = new Action();
    function function1() {
        job.SetDeviceTypeAndName("Pecka:Alfa");
        job.SetMethodName("TurnOn");
        job.SetParams({
            JobId: -1,
            Time: getDateTimePickerValue(),
            RepeatTimeMinutes: getMinutesRepeatValue(),
            RepeatTimeSeconds: getSecondsRepeatValue()
        });
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function function2() {
        job.SetDeviceTypeAndName("Pecka:Alfa");
        job.SetMethodName("SensorMeasure");
        job.SetParams({
            JobId: -1,
            Time: getDateTimePickerValue(),
            RepeatTimeMinutes: getMinutesRepeatValue(),
            RepeatTimeSeconds: getSecondsRepeatValue()
        });
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function function3() {
        job.SetDeviceTypeAndName("Pecka:Alfa");
        job.SetMethodName("TurnOff");
        job.SetParams({
            JobId: -1,
            Time: getDateTimePickerValue(),
            RepeatTimeMinutes: getMinutesRepeatValue(),
            RepeatTimeSeconds: getSecondsRepeatValue()
        });
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function SendMessage2() {
        job.SetDeviceTypeAndName("Masina:Beko");
        job.SetMethodName("TurnOn");
        job.SetParams({});
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function SendMessage21() {
        job.SetDeviceTypeAndName("Masina:Beko");
        job.SetMethodName("SensorMeasure");
        job.SetParams({});
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function SendMessage22() {
        job.SetDeviceTypeAndName("Masina:Beko");
        job.SetMethodName("TurnOff");
        job.SetParams({});
        //var act = job.GetAction();
        //for (var key in act)
        //    console.log(key + ":" + act[key]);
        $.sendMsgToDevice(job, ActionSuccess, ActionError);
    }
    function Login() {
        $.ajax({
            url: 'http://localhost/SmartHomeInternal/Service1.svc/Login',
            //url: 'http://10.14.90.111:12000/TestNetTcp/Service1.svc/Login',
        });
    }
</script>*@